body{
	margin: 0;
	background: #2B2C36;
	color: white;
}

.container {
	width: 90%;
	margin: 0 auto;
}

header{
	background: #67B8DB;
}

header::after{
	content: '';
	display: table;
	clear: both;
}

.logo{
	float: left;
	padding: 10px 0;
}

nav{
	float: center;
}

nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li{
	display: inline-block;
	margin-left: 70px;
	padding-top: 50px;
	
	position: relative;
}

nav a{
	color: #444;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
}

nav a:hover{
	color: #000;
}

nav a:before{
	content: '';
	display: block;
	height: 10px;
	background-color: #144;
	
	position: absolute;
	top: 20;
	width: 0%;
	
	transition: all ease-in-out 250ms;
}

nav a:hover:before{
	width: 100%;
}

tr:nth-child(even) {
  background-color: #04AA6D;
}

tr:nth-child(odd) {
  background-color: #67B8DB;
}

.fixed-column{
}

.fixed-row{
}

table {
  font-size: 125%;
  white-space: nowrap;
  margin: 0;
  border: none;
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
  border: 1px solid black;
}
table td,
table th {
  border: 1px solid black;
  padding: 0.5rem 1rem;
}
table thead th {
  padding: 3px;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 25vw;
  background: white;
}
table td {
  background: #fff;
  padding: 4px 5px;
  text-align: center;
}

table tbody th {
  font-weight: 100;
  font-style: italic;
  text-align: left;
  position: relative;
}
table thead th:first-child {
  position: sticky;
  left: 0;
  z-index: 2;
}
table tbody th {
  position: sticky;
  left: 0;
  background: white;
  z-index: 1;
}
caption {
  text-align: left;
  padding: 0.25rem;
  position: sticky;
  left: 0;
}

[role="region"][aria-labelledby][tabindex] {
  width: 100%;
  max-height: 98vh;
  overflow: auto;
}
[role="region"][aria-labelledby][tabindex]:focus {
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
  outline: 0;
}