body{
	margin: 0;
	background: #2B2C36;
	width: 100%;
	height: 100%;
}

p{
	color: white;
}

.nav-container {
	width: 90%;
	max-height: 10%;
	margin: 0 auto;
}

header{
	background: #67B8DB;
}

header::after{
	content: '';
	display: table;
	clear: both;
}

.logo{
	float: left;
	padding: 10px 0;
}

nav{
	float: center;
}

nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li{
	display: inline-block;
	margin-left: 70px;
	padding-top: 50px;
	
	position: relative;
}

nav a{
	color: #444;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
}

nav a:hover{
	color: #000;
}

nav a:before{
	content: '';
	display: block;
	height: 10px;
	background-color: #144;
	
	position: absolute;
	top: 20;
	width: 0%;
	
	transition: all ease-in-out 250ms;
}

nav a:hover:before{
	width: 100%;
}

tr:nth-child(even) {
	background-color: #04AA6D;
}

tr:nth-child(odd) {
	background-color: #67B8DB;
}

.fixed-column{
}

.fixed-row{
}




table {
	border-collapse: collapse; 
	font-family: helvetica;
	caption-side: top;
	text-transform: capitalize;
}
caption {
	text-align: left; position: fixed; left: 0; top:0
}
td, th {
	color: black;
	border:  1px solid;
	padding: 10px;
	min-width: auto;
	background: white;
	box-sizing: border-box;
	text-align: left;
}

th {
	box-shadow: 0 0 0 1px black;
}
.table-container {
	color: black;
	position: relative;
	max-height: 90%;
	width: 100%;
	overflow: scroll;
}

thead th{
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 2;
	background: hsl(20, 50%, 70%);
}

thead th:first-child{
	left: 0;
	z-index: 3;
}

tfoot th {
	position: sticky;
	bottom: 0;
	z-index: 2;
	background: hsl(20, 50%, 70%);
}

tbody {
	overflow: scroll;
	height: 200px;
}

/* MAKE LEFT COLUMN FIXEZ */
tr > :first-child {
	position: -webkit-sticky;
	position: sticky; 
	background: hsl(180, 50%, 70%);
	left: 0; 
}