/* General */
html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.sectionheader {
	float: center;
	text-align: center;
	font-size: min(4vw, 50px);
	padding: 1vh;
	margin: 1vh 1vw;
	background: #CCC;
}
/* General */

/* Navigation */
.navbar{
	width: 100%;
	float:center;
	border-bottom: 1px solid black;
	
	display: flex;
	justify-content: center;
	align-items: flex-end;
	align-content: flex-start;
}

.navbar a{
	color: #444;
	text-decoration: none;
	text-transform: uppercase;
	font-size: min(2.5vw, 30px);
	margin: 1vw;
}

.navbar a:hover{
	color: #000;
}

.sitelogo{
	float: left;
	width: min(10vw, 150px);
}
/* Navigation */

/* Filter bar */
.teamfilterbar{
	background: #999;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	align-content: flex-start;
	padding: 2px;
	margin: 0 0;
}

.teamiconcontainer{
	position: relative;
}

.teamicon{
	width: min(10vw, 100px);
	padding: 0.1vw 0.1vw;
	margin: 0 0.1vw;
}

input[type='checkbox']{
    width: min(10vw, 25px);
    height: min(10vw, 25px);
	position: absolute;
	right: 0;
	bottom: 0;
}

.radiofilterbar{
	background: #888;
	padding: 2px;
	margin: 0 0;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	align-content: flex-start;
	margin: 0 0;
}

.radiofilter{
	margin: 0 min(4vw, 50px);
}

.radiofilter label {
	color: #444;
	text-decoration: none;
	display: inline-block;
	background-color: #DDD;
	padding: min(1vw, 10px) min(2vw, 25px);
    font-size: min(3vw, 25px);
    border: 2px solid #444;
    border-radius: 0px;
	margin: 0;
}

.radiofilter input[type="radio"]{
	margin: 0;
	padding: 0;
	position: absolute;
}

.radiofilter input[type="radio"]:checked + label {
    background-color:#bfb;
    border-color: #4c4;
}

.radiofilter label:hover {
  background-color: #dfd;
}

/* Filter bar */

/* Tables */

.table-container {
	color: black;
	position: relative;
	overflow: scroll;
}

.table-container table {
	border-collapse: collapse; 
	caption-side: top;
}

.table-container caption {
	text-align: left; position: fixed; left: 0; top:0
}

.table-container td, th {
	color: black;
	border:  1px solid;
	padding: 10px;
	min-width: auto;
	background: white;
	box-sizing: border-box;
	text-align: left;
}

.table-container th {
	box-shadow: 0 0 0 1px black;
}

.table-container thead th{
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 2;
	background: hsl(20, 50%, 70%);
}

.table-container thead th:first-child{
	left: 0;
	z-index: 3;
}

.table-container tfoot th {
	position: sticky;
	bottom: 0;
	z-index: 2;
	background: hsl(20, 50%, 70%);
}

.table-container tbody {
	overflow: scroll;
}

/* MAKE LEFT COLUMN FIXED */
.table-container tr > :first-child {
	position: -webkit-sticky;
	position: sticky; 
	background: hsl(180, 50%, 70%);
	left: 0; 
}

.standingstablecontainer td:nth-child(1){
	text-align: left;
}

.standingstablecontainer td{
	text-align: center;
}

/* Tables */