body{
	margin: 0;
	background: #2B2C36;
	color: white;
}

.container {
	width: 90%;
	margin: 0 auto;
}

header{
	background: #67B8DB;
}

header::after{
	content: '';
	display: table;
	clear: both;
}

.logo{
	float: left;
	padding: 10px 0;
}

nav{
	float: center;
}

nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li{
	display: inline-block;
	margin-left: 70px;
	padding-top: 50px;
	
	position: relative;
}

nav a{
	color: #444;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
}

nav a:hover{
	color: #000;
}

nav a:before{
	content: '';
	display: block;
	height: 10px;
	background-color: #144;
	
	position: absolute;
	top: 20;
	width: 0%;
	
	transition: all ease-in-out 250ms;
}

nav a:hover:before{
	width: 100%;
}

tr:nth-child(even) {
  background-color: #04AA6D;
}

tr:nth-child(odd) {
  background-color: #67B8DB;
}

.fixed-column{
}

.fixed-row{
	position: fixed;
}